@font-face {
  font-family: "ploni";
  font-weight: 400;
  font-style: normal;
  src: url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-regular-aaa.woff2") format("woff2"),
    url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-regular-aaa.woff") format("woff");
}

@font-face {
  font-family: "ploni";
  font-weight: 700;
  font-style: normal;
  src: url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-bold-aaa.woff2") format("woff2"),
    url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-bold-aaa.woff") format("woff");
}

@font-face {
  font-family: "ploni";
  font-weight: 900;
  font-style: normal;
  src: url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-black-aaa.woff2") format("woff2"),
    url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-black-aaa.woff") format("woff");
}

@font-face {
  font-family: "ploni";
  font-weight: 500;
  font-style: normal;
  src: url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-demibold-aaa.woff2") format("woff2"),
    url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-demibold-aaa.woff") format("woff");
}

@font-face {
  font-family: "ploni";
  font-weight: 300;
  font-style: normal;
  src: url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-light-aaa.woff2") format("woff2"),
    url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-light-aaa.woff") format("woff");
}

@font-face {
  font-family: "ploni";
  font-weight: 200;
  font-style: normal;
  src: url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-ultralight-aaa.woff2") format("woff2"),
    url("https://ozglobalb2b.com/wp-content/themes/blankslate/fonts/webfont_ploni/ploni-ultralight-aaa.woff") format("woff");
}

body {
  font-family: "ploni", sans-serif;
  margin: 0;
  color: #0f0156;
  font-size: 18px;
  direction: ltr;
  text-align: left;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  color: #0f0156;
}

.preview {
  direction: ltr;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 40px;
  background: #ffffff;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

.preview-con {
  direction: ltr;
  text-align: left;
  background: #ffffff;
  display: block;
  max-width: 700px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 11px 29px -7px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
}

input, select {
  min-width: 600px;
  font-family: ploni;
  height: 35px;
  padding: 5px;
  margin: 10px;
  display: block;
  border: none;
  background: #f9f9f9;
  outline: none;
  direction: ltr;
  text-align: left;
}

.input-field {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background: #f9f9f9;
  direction: ltr;
  text-align: left;
}

button, .btn {
  font-family: ploni;
  font-weight: bold;
  direction: ltr;
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 80px;
  color: #0f0156;
  background-color: #abc735;
  transition-duration: 0.3s;
  display: inline-block;
  margin-left: 10px;
}

button:hover, .btn:hover {
  background-color: #bfdb49;
}

.btn-less {
  font-family: ploni;
  font-weight: bold;
  direction: ltr;
  margin-top: 20px;
  padding: 10px 25px;
  border: solid 1px #000;
  border-radius: 80px;
  color: #0f0156;
  background-color: #ffffff;
  transition-duration: 0.3s;
  display: inline-block;
  margin-left: 10px;
}

.btn-less:hover {
  background-color: #f5f5f5;
}

.btn-less-green {
  color: #0f0156;
  font-family: ploni;
  font-weight: bold;
  direction: ltr;
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 80px;
  background-color: #efefef;
  transition-duration: 0.3s;
  display: inline-block;
  margin-left: 10px;
}

.btn-less-green:hover {
  background-color: #e3e3e3;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.quick-btns {
  margin-top: 40px;
  text-align: center;
}
.ver{
  text-align: center;
  font-size: 15px;
  color: #d4d4d4;
}

.quick-btns .btn, .quick-btns .btn-less, .quick-btns .btn-less-green {
  margin: 5px;
  display: inline-block;
}

#error-message {
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .preview-con {
    padding: 30px;
  }

  input, select {
    min-width: auto;
    width: 100%;
    margin: 8px 0;
  }

  button, .btn, .btn-less, .btn-less-green {
    width: auto;
    padding: 12px 20px;
    margin: 5px;
  }

  .quick-btns {
    text-align: center;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  h1,
  h2 {
    font-size: 1.5em;
  }

  .preview {
    padding: 10px;
    margin-top: 20px;
  }

  .preview-con {
    padding: 20px;
  }

  input, select {
    height: 30px;
    padding: 5px;
  }

  button, .btn, .btn-less, .btn-less-green {
    width: auto;
    padding: 10px 15px;
    margin: 5px;
  }
}
